@model ObligatorioP3.Models.Peliculas

@{
    ViewData["Title"] = "Editar pelicula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-container {
        max-width: 400px;
        margin: 0 auto;
    }

        .form-container h3 {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;
            color: black;
        }

        .form-container .form-group {
            margin-bottom: 20px;
        }

        .form-container label {
            font-weight: bold;
            color: black;
        }

        .form-container .form-control {
            border-color: black;
        }

        .form-container .text-danger {
            color: red;
        }

        .form-container .btn-container {
            text-align: right;
            margin-top: 20px;
        }

            .form-container .btn-container a {
                margin-right: 10px;
            }

            .form-container .btn-container button {
                background-color: blue;
                color: #fff;
                border-color: blue;
            }

                .form-container .btn-container button:hover {
                    background-color: blue;
                    border-color: black;
                }
</style>

<div class="form-container">
    <h3>Editar una película</h3>
    <form method="post" asp-action="Editar">
        <div class="form-group">
            <label asp-for="Titulo">Título</label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Genero">Género</label>
            <input asp-for="Genero" class="form-control" />
            <span asp-validation-for="Genero" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Des_Pel">Descripción</label>
            <input asp-for="Des_Pel" class="form-control" />
            <span asp-validation-for="Des_Pel" class="text-danger"></span>
        </div>
        <div class="btn-container">
            <a asp-action="Index" class="btn btn-secondary" style="background-color: green; color: #fff;">Volver a lista</a>
            <button type="submit" class="btn btn-primary" style="background-color: blue color: #fff;">Editar</button>
        </div>

    </form>
</div>

