@{
    ViewData["Title"] = "Home Page";
}

<style>
    .title-container {
        text-align: center;
        margin-top: 50px;
    }

    

   
    .image-container {
        max-width: 400px; /* Ajusta este valor según tus preferencias */
        margin: 0 auto; /* Centra la imagen horizontalmente */
    }
<
</style>

<div class="title-container">
    <h1 class="display-4" style="color: blue; font-family: 'Comic Sans MS', sans-serif;">Obligatorio Programación 3</h1>
</div>
<div>
    <img src="@Url.Content("https://st.depositphotos.com/1555678/1276/i/450/depositphotos_12766135-stock-photo-3d-cinema-clapper-film-reel.jpg")" alt="Mi Imagen" />
</div>

